a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:40px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

header{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

nav{
margin-bottom: 30px;
}

nav a{
  color: black;
  padding: 10px;
}
.nav_links{
  text-decoration: none;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  font-family:"Cormorant";
  font-size: 30px;
  padding: 30px;
}

.nav_links a:hover{
  border-bottom: 3px solid red;
}

.nav_links li a.active {
  background-color: #4CAF50;
  color: rgb(185, 25, 25);
}

.nav_index{
  text-decoration: none;
  background-color: rgb(21, 189, 245);
}

.nav_about{
  text-decoration: none;
  background-color: rgb(21, 189, 245)
}

.nav_contact{
  text-decoration: none;
  background-color: rgb(21, 189, 245);
}

.nav_work{
  text-decoration: none;
  background-color: rgb(21, 189, 245)
}

.nav_links a:hover {
  background-color: rgb(253, 8, 8);
  color: black;
}

.indexbg_logo{
  background-image: url("../images/JM\ logo\(red\)\ copy.png");
}


/* 
#mainheader {
  animation: typewriter 2s steps(15) 1s 1 normal both,
  blinkTextCursor 1000ms steps(60) infinite normal;
}

@keyframes typewriter{
  from{width: 10em;}
  to{width: 15em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

 */






 #workheader h1, #indexheader h1, .main_about h1, #formheader h1{
  overflow: hidden;
  border-right: .10em solid red;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .01em;
  animation: typing 2.5s steps(30), blink-caret .65s step-end infinite;
  font-size: 40px;
  font-family: "Arvo";
}

#workheader h2{
  font-family: "Bungee Shade";
  font-size: 25px;
  padding-top: 40px;
}


@keyframes typing{
  from {width: 5%}
  to {width: 100%}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: red; }
} 

#indexheader{
  font-size: 40px;
  text-align: center;
  font-family:"Arvo";
}

#indexheader h2{
  font-family: "Bungee Shade";
  padding-top: 50px;
}

body{
margin: 0%;
line-height: 1.5;
}

.indexcontent{
  font-style: italic;
  text-align: center;
  padding: 50px;
  font-family: "Bungee Shade";
  font-size: 35px;
}

.indeximage{
  display: grid;
  grid-template-rows: 1fr;
}
.indeximage img {
  width: 50%;
  justify-content: center;
  margin: auto;
}

.indeximage img:hover{
  -moz-box-shadow: 0 0 10px rgb(14, 12, 12);
  -webkit-box-shadow: 0 0 10px rgb(8, 8, 8);
  box-shadow: 0 0 10px rgb(10, 9, 9);
}

.indexbody{
  font-family:"Cormorant";
  font-size: 20px;
  text-align: center;
  margin: 5%;
}

footer {
  text-align: center;
  padding-top: 10px;
}

.main_about {
  font-size: 40px;
  text-align: center;
  font-family: "Arvo";
}

#headshot{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  margin: 5%;
  width: 90%;
  grid-gap: 10px;
  overflow: hidden;
  top: -50px;
}

#headshot img{
  width: 100%;
}

.logos{
  display:grid;
  grid-template-columns: 1fr;
}

figure {
  border-radius: 15px;
}

/* .backgroundpics{
  display: flex;
  flex-direction: row;
  align-items: space-between;
}
.backgroundpics img{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: auto;

  top: 250px;
  right: 100px;
} */


.aboutmain{ 
  margin: 5%;
}

.aboutmain p, ul{
  font-family: 'Cormorant';
  font-size: 20px;
  text-align: left;
  margin: 3%;
}

.aboutmain h2{
  font-size: 25px;
  font-family:"Bungee Shade";
}


.grid-gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 90%;
  grid-gap: 50px;
  position: relative;
  top: -50px;
}

.grid-gallery img{
  width: 100%;
  height: auto;
}

.grid-gallery img:hover{
-moz-box-shadow: 0 0 10px #ccc;
-webkit-box-shadow: 0 0 10px #ccc;
box-shadow: 0 0 10px #ccc;
}

figcaption{
  position: relative;
  font-size: 18px;
  font-style: italic;
  padding: .5px;
  text-align: center;
  font-family: "Comorant";
}

#formheader h1{
  font-size: 40px;
  font-family: "Arvo";
}

#formheader h2{
font-family: "Bungee Shade";
font-size: 25px;
padding-top: 50px;
}


body {
  font-family: "Carmorant";
}

form {
  border: 3px solid #f1f1f1;
}

legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
}

label{
  display: inline-block;
  margin-right:10px;
  width:15%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=submit] {
  background-color: #38803C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

footer{
    position: relative;
    bottom: 0%;
    width: 100%;
    background-color: lightgray;
    color: red;
    padding-top: 10px;
    text-align: center;
    font-style: bold;
    font-size: 15px;
    
}

@media (prefers-reduced-motion: reduce) {
  a.skip{
    transition: none;
  }
  h1{
    animation: none;
    border-right: white;
  }
}

@media screen and (min-width: 800px){
  @keyframes typing{
    from {width: 0%}
    to {width: 42%}
  }
  #mainheader h1, h1{
    letter-spacing: .1em;
  }
  .nav_links{
    flex-direction: row;
  }
  .grid-gallery {
    grid-template-columns: 1fr 1fr 1fr;
}



@media screen and (min-width:1000px){
  @keyframes typing{
    from {width: 0%}
    to {width: 45%}
  }
  #mainheader h1, h1{
    letter-spacing: .3em;
  }
  .nav_links{
    justify-content: left;
  }
  .grid-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}}
