a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:40px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

header{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

nav{
margin-bottom: 30px;
}

nav a{
  color: black;
  padding: 10px;
}
.nav_links{
  text-decoration: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  font-family:"Georgia";
  font-size: 30px;
  padding: 30px;
}

.nav_links a:hover{
  border-bottom: 3px solid red;
}

.nav_links li a.active {
  background-color: #4CAF50;
  color: rgb(185, 25, 25);
}

.nav_index{
  text-decoration: none;
  background-color: rgb(21, 189, 245);
}

.nav_about{
  text-decoration: none;
  background-color: rgb(21, 189, 245)
}

.nav_contact{
  text-decoration: none;
  background-color: rgb(21, 189, 245);
}

.nav_work{
  text-decoration: none;
  background-color: rgb(21, 189, 245)
}

.nav_links a:hover {
  background-color: rgb(253, 8, 8);
  color: black;
}

.indexbg_logo{
  background-image: url("../images/JM\ logo\(red\)\ copy.png");
}


#mainheader{
  font-size: 60px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
height: 100%;
margin: 5%;
line-height: 1.5;
}

.indexcontent {
  font-style: italic;
  text-align: center;
  padding: 50px;
}

.indeximage{
  display: grid;
  grid-template-rows: 1fr;
}
.indeximage img {
  width: 50%;
  justify-content: center;
  margin: auto;
}

.indeximage img:hover{
  -moz-box-shadow: 0 0 10px rgb(14, 12, 12);
  -webkit-box-shadow: 0 0 10px rgb(8, 8, 8);
  box-shadow: 0 0 10px rgb(10, 9, 9);
}

.indexbody{
  font-family: 'Trebuchet MS';
  font-size: 20px;

}
footer {
  text-align: center;
  padding-top: 10px;
}

.main_about {
  font-size: 60px;
  text-align: center;
}

#headshot{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  
}
#headshot img{
  width: 100%;
}

.head {
  grid-row: 1/4;
}

.logos{
  display:grid;
  grid-template-columns: 1fr;
}

figure {
  border-radius: 15px;
}

.backgroundpics{
  display: flex;
  flex-direction: row;
  align-items: space-between;
}
.backgroundpics img{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: auto;

  top: 250px;
  right: 100px;
}

.aboutmain p{
  font-family: 'Trebuchet MS';
  text-align: center;
}

.grid-gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 90%;
  grid-gap: 50px;
  position: relative;
  top: -50px;
}

.grid-gallery img{
  width: 100%;
  height: auto;
}

.grid-gallery img:hover{
-moz-box-shadow: 0 0 10px #ccc;
-webkit-box-shadow: 0 0 10px #ccc;
box-shadow: 0 0 10px #ccc;
}

figcaption{
  position: relative;
  font-size: 12px;
  font-style: italic;
  padding: .5px;
  text-align: center;
}

#formheader h1{
  font-size: 60px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  border: 3px solid #f1f1f1;
}

legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
}

label{
  display: inline-block;
  margin-right:10px;
  width:15%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=submit] {
  background-color: #38803C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

footer{
    position: fixed;
    bottom: 0%;
    width:100%;
    background-color: lightgray;
    color: white;
    padding-top: 10px;
    text-align: center;
    font-style: bold;
    font-size: 15px;
    
}

@media (prefers-reduced-motion: reduce) {
  a.skip{
    transition: none;
  }
}